@model IEnumerable<MotorcycleCommunityProject.Models.RiderDto>

@{
    ViewBag.Title = "List";
}

<h2>Registered Riders</h2>
@Html.ActionLink("Create Rider", "Create")
<table class="table-bordered">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Bio
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Rider in Model)
        {
            <tr>
                <td>@Rider.FirstName</td>
                <td>@Rider.LastName</td>
                <td>@Rider.Bio</td>
                <td><a href="Show/@Rider.RiderId">Details</a></td>
            </tr>
        }
    </tbody>
</table>