@model IEnumerable<MotorcycleCommunityProject.Models.RiderDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table>
    <thead>
        <th>
            <td>
                Rider Name
            </td>
            <td>

            </td>
        </th>
    </thead>
    <tbody>

    </tbody>
</table>